/* Deixa o header em cima de tudo (inclusive mapas) */
/* header {
    z-index: 9999 !important;
} */

/* Icones Para Headers */
.icon-header {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

/* Logo */
.logo-mobile,
.title-mobile {
  display: none;
}

.logo-desktop,
.title-desktop {
  display: inline-block;
}

/* Logo na telas pequena (<768px) */
@media (max-width: 767px) {

  .logo-desktop,
  .title-desktop {
    display: none !important;
  }

  .logo-mobile,
  .title-mobile {
    display: inline-block !important;
  }

  [role="alert"] {
    display: none !important;
  }

  .btnExcel {
    display: none !important;
  }

  .labels-filtro {
    display: none;
  }
}

/* Center the header text vertically */
.align-self-center {
  display: flex;
  align-items: center;
  margin: 0;
}

/* Deixa o popup em cima de tudo (inclusive header) */
.mantine-Popover-dropdown {
  z-index: 100000 !important;
}

/* Cor de fundo dos indicadores */
.card-box-shadow {
  box-shadow: 1px 5px 5px #c9c3c3
}

.full-page-overlay {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 9999 !important;
  pointer-events: all;
}

/* Mapa */
span.mapa-icone-linha {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #FF7F0E;   
  border: 2px solid white;    
  position: relative;
  border-radius: 2px;
  margin-right: 5px;
}

span.mapa-icone-linha::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;                /* thickness of the line */
  background-color: white;    /* color of the line */
  transform: translateY(-50%);
}


span.mapa-icone {
   display: inline-block;
   width: 12px;        
   height: 12px;
   border: 2px solid black;
   border-radius: 20px;
   margin-right: 5px;
}

span.mapa-icone-pos-gps {
    background-color: #2CA02C;
}

span.mapa-icone-evt-1 {
    background-color: #1F77B4;
}

span.mapa-icone-evt-2 {
    background-color: #FF7F0E;
}

span.mapa-icone-evt-3 {
    background-color: #D62728;
}

span.mapa-icone-evt-4 {
    background-color: #9467BD;
}

span.mapa-icone-evt-5 {
    background-color: #8C564B;
}

span.mapa-icone-evt-6 {
    background-color: #E377C2;
}

span.mapa-icone-evt-7 {
    background-color: #7F7F7F;
}

span.mapa-icone-evt-8 {
    background-color: #BCBD22;
}

span.mapa-icone-evt-9 {
    background-color: #17BECF;
}
